#!/bin/bash

if [ $# -ne 1 ]
then
    echo 'You need to specifiy a paramater'
    exit;
fi

bless='/usr/sbin/bless'
shutdown='/sbin/shutdown'

if [ $1 = 'recovery' ]
then
    echo $bless --mount --setBoot --nextonly /Volumes/Recovery\ HD/
    $bless --mount --setBoot --nextonly /Volumes/Recovery\ HD/
elif [ $1 = 'restore' ]
{% if deploystudio != 'None' %}
then
    echo $bless --netboot --nextonly --server "bsdp://{{ deploystudio }}"
    $bless --netboot --nextonly --server "bsdp://{{ deploystudio }}"
{% endif %}
else
   echo "Paramater doesn't exist. Please try either recovery or restore"
   exit;
fi

echo "Would you like to restart the computer ?"
read -p "Are you sure you want to continue? <y/N> " prompt
if [[ $prompt == "y" || $prompt == "Y" || $prompt == "yes" || $prompt == "Yes" ]]
then
	$shutdown -r now
else
  	echo "Better be sure..."
fi
